
<div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <p>If you've enjoyed our concert, feel free to make a donation:</p>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1Novn9FpYBvW0FIMDS8mQwDd"
  publishable-key="pk_live_51MV53DFpYBvW0FIM6pYK9l1SRmjrC3q5Et7CywEbRbDsKfifXt5wnypFAPuJlUFrqOyh3FOsZhnXmAjXvsC5dswS00haFz61QJ"
>
</stripe-buy-button>
    </div>
</div>