<div class="container py-vh-4">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-3">Force of Destiny</h1>
      <h3>Conducted by David Burchell, featuring violin soloist Skyla Murray and City Choir Dunedin</h3>
      <br/>
      <h5>Concert Programme Written by Grace Shaw</h5>
    </div>
  </div>
</div>
